pipeline/DatabricksNotebookcalling.json
{
	"name": "DatabricksNotebookcalling",
	"properties": {
		"description": "calling databricks notebook with parameters.",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/bazureapril2023@gmail.com/DataBricks/Azure_DataBricks_session/useCase",
								"baseParameters": {
									"srvc_principle_secr": {
										"value": "@item().principle",
										"type": "Expression"
									},
									"storage_account": {
										"value": "@item().storagename",
										"type": "Expression"
									},
									"tablename": {
										"value": "@item().tablename",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databricksconnection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "databricks"
		},
		"annotations": []
	}
}