pipeline/DatabricksNotebookcalling.json
{
	"name": "DatabricksNotebookcalling",
	"properties": {
		"description": "calling databricks notebook with parameters.",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "controltables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/bazureapril2023@gmail.com/DataBricks/Azure_DataBricks_session/useCase",
								"baseParameters": {
									"srvc_principle_secr": {
										"value": "@item().service_pri",
										"type": "Expression"
									},
									"storage_account": {
										"value": "@item().storage_account",
										"type": "Expression"
									},
									"tablename": {
										"value": "@item().table_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "databricksconnection",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Notebook1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "sp_execute_sql",
								"storedProcedureParameters": {
									"stmt": {
										"value": {
											"value": "@concat('update [dbo].[dataload_control] set last_extraction=getdate() where table_name=','''','rental','''')",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "enterprizestorage_db",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "databricks"
		},
		"annotations": []
	}
}