pipeline/get_metadata_rk.json
{
	"name": "get_metadata_rk",
	"properties": {
		"activities": [
			{
				"name": "get_metadata_rk",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "address_file_sftp",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"exists",
						{
							"value": "@pipeline().parameters.strucutre",
							"type": "Expression"
						},
						{
							"value": "@pipeline().parameters.last modified",
							"type": "Expression"
						}
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_metadata_rk",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('get_metadata_rk').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 60
							}
						}
					]
				}
			}
		],
		"parameters": {
			"strucutre": {
				"type": "String"
			},
			"last modified": {
				"type": "String"
			}
		},
		"folder": {
			"name": "general_activities_rk"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-24T07:39:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}