pipeline/Manual_Copy_MySQL_Sakila_Tables_2_ADLS_pa1.json
{
	"name": "Manual_Copy_MySQL_Sakila_Tables_2_ADLS_pa1",
	"properties": {
		"activities": [
			{
				"name": "Check_Table_Exist_in_Source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Check_File_Exist_in_Target",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check_Table_Exist_in_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Check_File_Exist_in_Target",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"ifTrueActivities": [
						{
							"name": "MySQL_Sakila_Tables_Copy_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 1
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VM_MySQL_DB_pa1",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Project_Sakila_Tables_Pa1",
									"type": "DatasetReference",
									"parameters": {
										"file_name": {
											"value": "@concat(pipeline().parameters.table_name,variables('extension'))",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			}
		},
		"variables": {
			"extension": {
				"type": "String",
				"defaultValue": ".csv"
			}
		},
		"folder": {
			"name": "Pavan_ADE"
		},
		"annotations": []
	}
}