pipeline/mysql_sakila_to_ssms.json
{
	"name": "mysql_sakila_to_ssms",
	"properties": {
		"activities": [
			{
				"name": "list of tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT TABLE_SCHEMA, TABLE_NAME FROM\ninformation_schema.TABLES\nWHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'sakila';"
					},
					"dataset": {
						"referenceName": "MySqlTables",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list of tables",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list of tables').output.value",
						"type": "Expression"
					},
					"isSequential": true
				}
			}
		],
		"folder": {
			"name": "~salman"
		},
		"annotations": []
	}
}