pipeline/Test_Multiple_piplines.json
{
	"name": "Test_Multiple_piplines",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look_up_tables_List_pa1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look_up_tables_List_pa1').output.firstRow.table_location",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item(),pipeline().parameters.db_name)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Look_up_tables_List_pa1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Server_Lookup_Table_Pa1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"db_name": {
				"type": "string",
				"defaultValue": "mysql"
			}
		},
		"folder": {
			"name": "Pavan_ADE"
		},
		"annotations": []
	}
}