pipeline/Test_Multiple_piplines.json
{
	"name": "Test_Multiple_piplines",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look_up_tables_List_pa1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('Look_up_tables_List_pa1').output)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().table_location,'sql_server')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_MySQL_Tables_2_ADLS",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Manual_Copy_Sakila_Tables",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"table_name": {
													"value": "@item().table_name",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_SQL_Server_Tables_2_ADLS",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Manual_Copy_SQL_Server_Tables_pa1",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"table_name": "@item().table_name"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Look_up_tables_List_pa1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_Server_Lookup_Table_Pa1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"concurrency": 1,
		"folder": {
			"name": "Pavan_ADE"
		},
		"annotations": []
	}
}